<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="header" style= "display:flex; justify-content: space-evenly;"> 
        <h1>WELCOME {{users[0]['first_name']}}</h1>
        <a href='/addnew'>Add Magazine</a>
        <a href="/edit/{{users[0]['id']}}">Account</a>        
        <form action="/logout" method="POST">
            <button type="Submit" class="btn btn-success">Log Out</button>
        </form> 
    </div>
        <div id="container_messages" style="margin-left: 50px;">
            <h5>Magazines</h5>
            <div class="list-group" style="width: 600px; margin-top: 60px; display: flex; display: inline-flex; border:1px black solid;">
                {% for magazines in magazines %}
                    <a name="info" aria-current="true">
                    <p><a href="/view/{{magazines['id']}}">{{magazines['name']}} </a>added  by {{magazines['first_name']}} {{magazines['last_name']}}</p> 
                    </a>
                {% endfor %}
                    </div>
                    </form>
            </div>
        </div>
</body>
</html>